@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#search {
    background: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

li {
    list-style-type: none;
}
/* 

NAV BAR 

*/

nav {
  height: 340px;
  background-color: gray;
  position: relative;
}

.nav__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
}

.nav__top,
.nav__search {
z-index: 3;
}

.nav__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
  height: 100%;
  z-index: 20;
  position: relative;
  background-color: rgba(6, 17, 97, 0.606);
}

.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 60px; */
  z-index: 20;
  width: 100%;
  max-width: 900px;
}

.nav__logo {
  width: 150px;
  height: 50px;
}

.nav__top--links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__top--link {
    list-style-type: none;
    margin-left: 36px;
    color: white;
    font-size: 18px;
    position: relative;
}

.nav__top--link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    z-index: 3;
}

.nav__app--link {
    margin-left: 36px;
    background-color: white;
    border: 2px solid white;
    color: rgb(16, 122, 221);
    padding: 12px 10px;
    border-radius: 24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms ease;
}

.nav__app--link:hover {
    background-color: rgb(16, 122, 221);
    color: white;
    border: 2px solid rgb(16, 122, 221);
}



.fa-app-store {
    margin-right: 12px;
}

.nav__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
}

.search__title {
    margin-bottom: 24px;
    font-size: 48px;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

.nav__search--bar {
    background-color: white;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.nav__search--bar:hover .search__input::placeholder {
    color: rgb(16, 16, 221);
}


.search__input {
    font-size: 24px;
    border: none;
    width: 100%;
    padding: 12px 0;
    margin: 0 8px 0 24px;
    color: rgb(16, 16, 221);
}

.search__input::placeholder {
    transition: all 300ms ease;
}

.search__input:focus {
    outline: none;
}

.fa-magnifying-glass {
    margin: 0 12px;
    font-size: 24px;
    color: rgb(8, 8, 85);
    transition: all 300ms ease;
}

.fa-magnifying-glass:hover {
    color: rgb(56, 149, 255);
    transform: scale(1.1);
}

.fa-magnifying-glass:active {
    color: rgb(21, 53, 89);
    transform: scale(0.8);
}

/* 

SEARCH

*/

.search__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
}

.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 100%;
    max-width: 1200px;
    background: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
    height: calc(100vh - 340px);
}


.search__change {
    display: flex;
    justify-content: center;
    align-items: center;
}


.fa-circle-half-stroke {
    font-size: 24px;
    margin-right: 12px;
    color: darkslategray;
}

.search__temp--change {
    display: flex;
    background-color: silver;
    border-radius: 8px;
}

.btn__temp {
    font-size: 28px;
    border: none;
background: linear-gradient(to bottom, #1E1F7A 0%, #2E3FBF 50%, #6C7DFF 100%);
    padding: 0 6px;
    border-radius: 8px;
    color: white;
}

.btn__one {
    margin-right: 6px;
}

.search__results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

.search__results--top {
    margin-bottom: 20px;
}

.search__results--top,
.search__results--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temperature__module,
.quality__module,
.alert__module,
.time__module {
    width: 300px;
    height: 175px;
    background: linear-gradient(to bottom, #1E6FFF 0%, #3388FF 50%, #66A8FF 100%);
}



.temperature__module,
.quality__module,
.alert__module,
.time__module,
.forecast__module {
    border-radius: 24px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}


.temperature__module {
background: linear-gradient(to bottom, #1E6FFF 0%, #3388FF 50%, #66A8FF 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }

.temp__top {
    margin-bottom: 12px;
}

/* This would be for icon */

.fa-cloud-sun {
    font-size: 48px;
    color: yellow;
}

.temp__actual {
    font-size: 48px;
    color: white;
}

.temp__descrip {
    font-size: 24px;
    color: white;
}

.quality__module {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 }

 .quality__title,
 .alert__title {
    font-size: 32px;
    font-weight: bold;
    color: rgb(174, 174, 174);
 }


.alert__text {
    font-size: 14px;
    text-align: center;
}

.quality__list {
    margin-right: 64px;
}

.quality__item {
    font-size: 24px;
    color: white;
}

.alert {
    font-size: 18px;
    color: white;
    margin: 0 12px;
    height: 85px;
}

.alert__module {
background: linear-gradient(to bottom, #900d06 0%, #df2117 50%, #FF9A8C 100%);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.forecast__module {
    width: 600px;
    height: 175px;
background: linear-gradient(to bottom, #FF9933 0%, #FFB366 50%, #FFE0B3 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.forecast__list {
    display: flex;
}

.forecast__day {
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
background: linear-gradient(to bottom, #E68C1A 0%, #F5A333 50%, #FFD180 100%);
    padding: 8px 12px;
    border-radius: 8px;
    transition: all 300ms ease;
    width: 75px;
    height: 140px;
    position: relative;
    z-index: 1;
}

.forecast__list--zoom {
    display: none;
}

.forecast-rise,
.forecast-set {
    width: 30px;
    height: 30px;
    filter: brightness(2) saturate(200%) hue-rotate(60deg);

}

.forecast__date,
.max-temp,
.min-temp,
.fa-droplet,
.humidity__num,
.fa-cloud-rain,
.precipitation__num {
    color: white;
}

.forecast__list--small {
    transition: all 300ms ease;
}

.forecast__item--zoom {
    display: flex;
    color: white;
}

.forecast__day:hover {
    transform: scale(1.25);
    width: 100px;
    z-index: 2;
    background: linear-gradient(to bottom, #CC7A00 0%, #E68A00 50%, #FFB84D 100%);
}

.forecast__day:hover .forecast__list--small {
    display: none;
}

.forecast__day:hover .forecast__list--zoom {
    display: flex;
    flex-direction: column;
}

.forecast__day:not(:last-child) {
    margin-right: 8px;
}

.forecast__temp {
    display: flex;
    flex-direction: column;
}


.time__module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.module {
    transition: all 300ms ease;
}

.module:hover {
    transform: scale(1.1);
    box-shadow: none;
}

.rise-set__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.time,
.rise__set {
    font-size: 36px;
}

.time {
    color: white;
}

.rise__set {
    color: orange;
    font-weight: 700;
}

.rise-set__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.module {
    position: relative;
}

.module__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
background: linear-gradient(to bottom, #FFFFFF 0%, #FFF8F0 50%, #F5EFE8 100%);
    opacity: 0;
    border-radius: 24px;
}

.module:hover .module__bg {
    opacity: 0.3;
}

.module:hover .temp__top,
.module:hover .fa-cloud-sun,
.module:hover .temp__descrip,
.module:hover .quality__title,
.module:hover .quality__list, 
.module:hover .rise-set__time, 
.module:hover .rise-set__title {
    filter: blur(5px);
}

/* MODULE AND TOPS MEDIA */


@media (max-width: 1000px) {
.temperature__module,
.quality__module,
.alert__module,
.time__module {
    width: 250px;
    height: 175px;
}

.forecast__day {
    width: 58px;
}

.forecast__module {
    width: 500px;
}

.forecast__date,
.max-temp,
.min-temp,
.fa-droplet,
.humidity__num,
.fa-cloud-rain,
.precipitation__num {
    font-size: 13px;
}

.forecast__day:hover {
    transform: scale(1.25);
}

}
@media (max-width: 850px) {
   .temperature__module,
.quality__module,
.alert__module,
.time__module {
    width: 200px;
    height: 175px;
}

.forecast__day {
    width: 65px;
}


.forecast__module {
    width: 400px;
} 

.forecast__date,
.max-temp,
.min-temp,
.fa-droplet,
.humidity__num,
.fa-cloud-rain,
.precipitation__num {
    font-size: 13px;}

.one {
    display: none;
}


}



/* SMALL PHONES */

@media (max-width: 480px) {

}