@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


/* 

NAV BAR 

*/

nav {
  height: 300px;
  background-color: gray;
}

.nav__container {
  display: flex;
  flex-direction: column;
  padding: 20px 32px;
  height: 300px;
}

.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.nav__logo {
  width: 150px;
  height: 50px;
}

.nav__top--links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__top--link {
    list-style-type: none;
    margin-left: 36px;
    color: white;
    font-size: 18px;
}

.nav__app--link {
    margin-left: 56px;
}

.nav__search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__title {
    margin-bottom: 24px;
    font-size: 48px;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

.nav__search--bar {
    background-color: white;
    /* padding: 12px 8px 12px 24px; */
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    transition: all 600ms ease;
}

.nav__search--bar:hover .search__input::placeholder {
    color: rgb(16, 16, 221);
}


.search__input {
    font-size: 24px;
    border: none;
    width: 100%;
    padding: 12px 0;
    margin: 0 24px;
    transition: all 300ms ease;
    color: rgb(16, 16, 221);
}

.search__input:focus {
    outline: none;
}

.fa-magnifying-glass {
    text-align: center;
    font-size: 24px;
    color: rgb(8, 8, 85);
}

/* .nav__overlay {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__overlay:after {
    content: "";
    position: absolute;
    background-color: blue;
} */

.nav__overlay {
  display: none;
} 